.brand-color {
	background-color: #eafde3;
}

.small-icon {
  padding: 10px;
}
/* 画像サイズの調整のために冗長なcssを書いている */
.card-img-top {
  width: 75%;
  margin: auto;
  padding-top: 10px;
}

.card-img-kaggle {
	width: 75%;
	padding-top: 6em;
	margin: auto;
}

.card-title-kaggle {
	padding-top: 5.5em;
}

.card-img-ctf {
	width: 75%;
	padding-top: 5em;
	margin: auto;
}

.card-title-ctf {
	padding-top: 5em;
}
/* ここまで、cardのなかの文字や画像の位置変更のためのcss */

@media screen and (max-width: 850px) {
  .contents {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 851px) {
  .contents {
    display: flex;
    justify-content: center;
  }
}